body {
    background-image: url("/assets/images/background.png");
}

h3 {
    color: #4aaaa5;
}

.navbar{
    min-height: 124px;
    border-bottom: 2px solid #dddddd;
    font-size: 120%;
    padding-bottom: 0;
    background: #ffffff;
}

.nav-link {
    color: #777777;
    transition: 0.25s;
}

.nav-link:hover {
    color: #979797;
}

.navbar-brand {

    padding: 0.6em;
    font-size: 150%;
    background: #4aaaa5;
    color: #ffffff;
    margin-bottom: 0;
}

.navbar-brand:hover {
    color: #ffffff;
}

#submit {
    background: #4aaaa5;
    color: #ffffff;
    transition: 0.25s;
}

#submit:hover {
    background: #5ac7c1;
}

img {
    height: 100%;
    width: 100%;
}

.img_frame {
    width: 100%;
    margin: 1em;
}

.img_frame img {
    display: block;
    z-index: -1;
    transform: translateZ(0);
    transition: 0.25s;
}

.img_frame:hover > img {
    opacity: 0.8;
}

.img_frame > p{
    display: block;
    position: relative;
    text-align: center;
    color: #ffffff;
    background: #4aaaa5;
    padding: 5% 0 5% 0;
    font-size: 150%;
    bottom: 30%;
}

.navbar-toggler {
    background-color: #4aaaa5;
    border: 1px solid #4aaaa5;
}

.navbar-toggler:focus {
    background-color: #5ac7c1;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 64px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 64px; /* Set the fixed height of the footer here */
  background-color: #777777;
  border-top: 8px solid #4aaaa5;
  margin-bottom: 0;
  font-size: 75%;
}

.footer p {
    padding-top: 2.5em;
    color: #ffffff;
}

